:root {
    --main-bg-color: #9ed0e6;
    --main-txt-color: #black;
    --hover-button-color: #349ECB;
}

/* Galaxy S9 Portrait */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Cinzel';
}

main {
    display: flex;
    flex-direction: column;

    height: 100vh;

    background-color: blue;
}

h1 {
    font-size: 30px;
    font-weight: bolder;

    color: var(--main-txt-color);
}

/* Splash */
.js-splash {
    display: flex;
    flex-direction: column;

    width: 100vw;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.js-splash h1, .js-splash p {
    height: 33vh;

    padding-top: 16vh;
}

.js-splash h1 {
    background-color: red;
}

.js-splash p {
    background-color: white;
}

.js-splash button {
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;

    width: 50vw;
    height: 10vh;

    border: 1px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    background-color: white;
}

/* Landing */
.js-landing {
    display: flex;
    flex-direction: column;
}

#tip {
    margin-top: 15vh;
    font-size: 2.5vh;
}

#js-address {
    border-radius: 15px;
    width: 40vw;

    padding: 1vw;
}

#js-form button {
    display: block;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    width: 20vw;
    height: 5vh;

    background-color: var(--main-bg-color);
    color: var(--main-txt-color);

    border-radius: 15px;
}

#error {
    margin-top: 2vh;
    color: red;
    font-weight: bolder;
}

/* Level Select */
.js-level-select {
    display: flex;
    flex-direction: column;
}

.js-level-button {
    width: 130px;
    height: 130px;

    background-color: var(--main-bg-color);
    color: var(--main-txt-color);

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 15px;
}


/* Representative Select */
.js-rep-pick {
    margin-top: 30px;
    padding: 2vw;
    padding-top: 0;

    height: 500px;
    width: 100vw;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 110px;
    column-gap: 10px;
    row-gap: 10px;

    overflow: auto;
}

.js-rep-button {
    overflow: hidden;

    background-color: var(--main-bg-color);
    color: var(--main-txt-color);

    border-radius: 15px;
}

/* Representative Card */
.js-rep-card {
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;

    border: 2px solid black;
    border-radius: 30px;
    
    box-shadow: 3px 3px black;

    background-color: var(--main-bg-color);
    color: var(--main-txt-color);

    text-align: center;

    overflow: hidden;

    display: flex;
    justify-content: space-between;
}

#js-image {
    border: 2px solid black;
    border-radius: 50%;
    
    width: 130px;
    height: 130px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    overflow: hidden;
}

#js-image img {
    position: relative;

    width: 131px;
    height: 135px;

    border-radius: 50%;

    left: -3px;
    top: -2px;
}

#js-left, #js-right {
    height: auto;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25px;

    background-color: var(--main-bg-color);
    color: var(--main-txt-color);

    font-size: 20px;

    border: none;
}

#js-left {
    border-right: 2px dashed var(--main-txt-color);
}

#js-right {
    border-left: 2px dashed var(--main-txt-color);
}

.js-rep-contact {
    display: inline-block;

    background-color: white;
    color: var(--main-txt-color);

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;

    border-radius: 15px;

    text-align: left;
    padding: 5px;
}

/* etc. */
.js-back-container {
    bottom: 20px;

    width: 100vw;

    text-align: center;
}

.back {
    width: 100px;
    height: 30px;

    background-color: var(--main-bg-color);
    color: var(--main-txt-color);

    border-radius: 15px;
}

.hidden {
    display: none;
}

button {
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

/* Galaxy S9 Landscape */
@media only screen and (min-width: 700px) {
    
}

/* iPad Portrait */
@media only screen and (min-width: 700px) and (min-height: 1000px) {
    
}

/* iPad Landscape */
@media only screen and (min-width: 1000px) and (min-height: 700px) {
    
}

/* Desktop */
@media only screen and (min-width: 1100px) and (min-height: 800px) {
    
}