/* Default screen size: 360x740 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono';

    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
}

header {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    background-color: gray;
}

main {
    display: flex;
    flex-direction: column;
}


/* Landing */
.js-landing {
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;

    background-color: gray;

    text-align: center;

    width: 300px;
    height: 300px;

    border: 2px solid black;
    border-radius: 30px;
}

#js-form {
    display: block;
    margin-top: 100px;
}

#js-form button {
    display: block;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    width: 100px;
    height: 50px;
}

/* Level Select */
.js-level-select {
    display: flex;
    flex-direction: column;
}

.js-level-button {
    width: 130px;
    height: 130px;

    background-color: gray;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}


/* Representative Select */
.js-rep-pick {
    margin-top: 30px;
    margin-left: 1vw;

    height: 500px;
    width: 99vw;

    display: grid;
    grid-template-columns: 110px 110px 110px;
    grid-auto-rows: 110px;
    column-gap: 10px;
    row-gap: 10px;

    overflow: auto;
}

.js-rep-button {
    width: 50px;
    height: 50px;
}

/* Representative Card */

/* etc. */
.back {
    position: fixed;

    bottom: 20px;
    left: 36vw;

    width: 100px;
    height: 30px;

    background-color: gray;
}

.hidden {
    display: none;
}